pip install NumPy==1.19.2
pip install Pandas==0.25.3
pip install Matplotlib==3.1.1
pip install Kera's==2.3.1
pip install TensorFlow==1.14.0
pip install h5py==2.10.0
pip install Protobuf==3.16.0
pip install Scikit-learn==0.22.2.post1
pip install Seaborn==0.10.1
pip install OpenCV-python==4.1.1.26
pip install OpenCV-contrib-python==4.3.0.36
pip install Pygame==2.0.0
pip install SciPy
Python Version==3.8(64 bit)